#CellsApp {
	--PrimaryAppColor: #6F6F6F;
	--ActiveAppColor: #4b4b4b;
	--HoverAppColor: #dbdbdb;
  
  
  
  // --- Dont edit past this point ---
  .Toolbar {
    background-color: var(--PrimaryAppColor);
  }	
  button {
		background: var(--PrimaryAppColor);
	  }
	  button:hover {
		color: var(--PrimaryAppColor);
		background-color: var(--HoverAppColor);
	  }
	  button:active {
		background-color: var(--ActiveAppColor);
	  }
	  }