<!doctype html>
<html lang='en-GB'>

<head>

	<script src="/users/template/Apps/Scour/appscript.js" defer></script>
	<meta charset='utf-8'>
	<title>Scour</title>
	<link rel="stylesheet" href="/system/css/stylesheet.css">
	<link rel="stylesheet" href="/users/template/Apps/Scour/appstyle.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="App">
		<div class="Toolbar">
			<div class="Controls">
				<button type="button" onClick="MinimiseWindow('Scour')"><i class="ri-subtract-fill"></i></button>
				<button type="button" onclick="FillWindow()"><i class="ri-fullscreen-fill"></i></button>
				<button type="button" onClick="CloseWindow('Scour')"><i class="ri-close-fill"></i></button>
			</div>
			<div class="ToolGroup dropdown">
				<button onclick="menu()" id="AppMenuButton" class="AppMenuButton" type="button"
					style="width: 2em; background-size: cover; background-image: url(/users/template/Apps/Scour/AppIcon.svg)"><i
						class="ri-global-fill"></i></button>
			</div>
			<div class="Tools">
				<div class="ToolGroup">
					<button type="button" style="width: 2em;justify-content: center;"><i
							class="ri-arrow-left-s-line"></i></button>
					<button type="button" style="width: 2em; justify-content: center;"><i
							class="ri-arrow-right-s-line"></i></button>
				</div>
			</div>
			<button type="button" class="search"><i class="ri-search-line"></i>Search</button>
		</div>
		<div id="ScourAppMenuContent" class="dropdown-content">
			<div class="ToolGroup">
				<button type="button" onclick="DeepLaunch('Settings','Apps/Scour')">
				<i class="ri-settings-5-fill"></i>Settings
				</button>
				<button type="button">About Scour</button>
			</div>
		</div>
		<div class="Contents">
			<div class="Body" id="ScourBody">
				<iframe src=""
					style="width: 100%; height: 100%; overflow: scroll; border-radius: 0.5em; border: none;"></iframe>
			</div>
		</div>
	</div>
	</div>
</body>

</html>