#MusicApp {
  --PrimaryAppColor: #800080;
  --AccentAppColor: #80008010;
  --ActiveAppColor: #7000BF;
  --HoverAppColor: #E0BBF0;


// --- Dont edit past this point ---
.Toolbar {
  background-color: var(--PrimaryAppColor);
}
.ListSection {
  background: var(--AccentAppColor);
  button {
    color: var(--PrimaryAppColor);
    background: none;
    }
    button:hover {
      background-color: var(--AccentAppColor);
      }
      button:active {
        background-color: var(--ActiveAppColor);
        }
    }
      
h2 {
  color: var(--PrimaryAppColor);
}
button {
	background: var(--PrimaryAppColor);
  }
  button:hover {
	color: var(--PrimaryAppColor);
	background-color: var(--HoverAppColor);
  }
  button:active {
	background-color: var(--ActiveAppColor);
  }
  }
