#MusicApp {
  --PrimaryAppColor: #7D4CA3;
  --AccentAppColor: #7D4CA330;
  --ActiveAppColor: #693094;
  --HoverAppColor: #ece5f2;



// --- Dont edit past this point ---
.ListSection {
  background: var(--AccentAppColor);
  button {
    color: var(--PrimaryAppColor);
    background: none;
    }
    button:hover {
      background-color: var(--AccentAppColor);
      }
      button:active {
        background-color: var(--ActiveAppColor);
        }
    }
      
h2 {
  color: var(--PrimaryAppColor);
}
button {
	background: var(--PrimaryAppColor);
  }
  button:hover {
	color: var(--PrimaryAppColor);
	background-color: var(--HoverAppColor);
  }
  button:active {
	background-color: var(--ActiveAppColor);
  }
  }
