<div class="ListSection">
	<h2>Aa</h2>
	<div class="HList">
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Music/AppIcon.svg)"></div>
			<div class="ListItemLabel">Artist</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Music/AppIcon.svg)"></div>
			<div class="ListItemLabel">Artist</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Music/AppIcon.svg)"></div>
			<div class="ListItemLabel">Artist</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Music/AppIcon.svg)"></div>
			<div class="ListItemLabel">Artist</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Music/AppIcon.svg)"></div>
			<div class="ListItemLabel">Artist</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Music/AppIcon.svg)"></div>
			<div class="ListItemLabel">Artist</div>
		</button>
	</div>
</div>