@font-face {
  font-family: "Ubuntu";
  src: url("/system/fonts/Ubuntu/Ubuntu-R.ttf") format("truetype");
}

:root {
  --black: #111111;
  --white: #ffffff;
  --background: #ffffff;
  --foreground: #f7f7f7;
  --text-regular: #111111;
  --text-secondary: #5d5d5d;
  --positive: #0e8420;
  --negative: #c7162b;
  --neutral: #cdcdcd;
  --live: #335280;
  --brand: #e95420;
}

#BootStatus {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: var(--text-regular);
}

#BootScreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: fixed;
  background-color: var(--background);
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  overflow: auto;
}

.Spinner {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 2em;
  height: 2em;
  display: block;
  background-image: url(/System/Icons/Spinner.svg);
  background-size: contain;
  -webkit-animation: rotate-center 1s linear infinite both;
          animation: rotate-center 1s linear infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h2 {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: unset;
  padding-bottom: 0.5em;
  color: var(--text-secondary);
}

#Dash {
  display: none;
  font-size: 1em;
  color: var(--text-regular);
  position: absolute;
  z-index: 10000;
  top: 2em;
  left: 4.5em;
  width: 60em;
  height: 40em;
  background-color: rgba(11, 11, 11, 0.75);
  -webkit-backdrop-filter: blur(0.5em);
          backdrop-filter: blur(0.5em);
  padding: 0;
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-left-width: 0em;
  border-top-width: 0em;
  border-radius: 0 0 6px 0;
}

.DisplayFullscreen {
  -webkit-animation: fullscreen 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: fullscreen 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.DisplayNormal {
  -webkit-animation: DisplayNormal 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: DisplayNormal 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.AppRunning {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

#AllApps {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.25em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 0.25em;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 0.25em;
}

body {
  font-family: "Ubuntu";
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0.5em 0px;
      grid-template-areas: "Display";
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  text-align: left;
  padding: 1em 0.5em;
  line-height: 1em;
  border: none;
  height: 2em;
  border-radius: 0.25em;
  white-space: nowrap;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  font-size: 1em;
  color: var(--text-regular);
  background: var(--background);
}

button img {
  width: 1.1em;
  height: 1.1em;
  border-radius: 0.25em !important;
}

button:hover {
  color: var(--text-regular);
  background: var(--foreground);
}

button:disabled {
  opacity: 0.5;
}

button:disabled:hover {
  color: var(--text-regular);
  background: var(--background);
}

button:disabled:active {
  color: var(--text-regular);
  background: var(--background);
}

button:active {
  color: var(--background);
  background: var(--brand);
}

.DesktopSelector {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  opacity: 0.5;
  background: var(--black);
}

.DesktopSelector:hover {
  opacity: 0;
}

#Display {
  background: var(--black);
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -ms-grid-rows: 2em 1fr;
      grid-template-rows: 2em 1fr;
      grid-template-areas: "TopBar TopBar" "Launcher Desktop";
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Display;
}

#TopBar {
  z-index: 1000;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: TopBar;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4.5em 1fr min-content;
      grid-template-columns: 4.5em 1fr -webkit-min-content;
      grid-template-columns: 4.5em 1fr min-content;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0.5em 0px;
  padding: 0.25em 0em;
      grid-template-areas: "TopBarControls Menu System";
  background-color: var(--black);
}

#Desktop {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Desktop;
  display: -ms-grid;
  display: grid;
  position: relative;
  gap: 0em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  overflow: hidden;
  width: 200%;
  height: 200%;
  -webkit-transition: scale 0.3s ease-out;
  transition: scale 0.3s ease-out;
      grid-template-areas: "Desktop1 Desktop2" "Desktop3 Desktop4";
}

.Desktop {
  background-size: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.DesktopOverview {
  left: 0;
  top: 0;
  overflow: visible;
  gap: 1em !important;
  padding: 1em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  scale: 0.5;
}

.DesktopSelector {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.Desktop1 {
  left: 0 !important;
  top: 0 !important;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.Desktop2 {
  left: -100% !important;
  top: 0 !important;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.Desktop3 {
  left: 0 !important;
  top: -100% !important;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.Desktop4 {
  left: -100% !important;
  top: -100% !important;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

#DesktopSelector1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Desktop1;
}

#DesktopSelector2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Desktop2;
}

#DesktopSelector3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Desktop3;
}

#DesktopSelector4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Desktop4;
}

#Dock {
  z-index: 1000;
  background-color: var(--black);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: scrollY;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: min-content 1fr;
      grid-template-rows: -webkit-min-content 1fr;
      grid-template-rows: min-content 1fr;
  gap: 0.5em 0px;
  padding: 0.25em;
      grid-template-areas: "DashIcon" "AppList";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Launcher;
  height: 100%;
}

.DashAppIcon {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: DashIcon;
  margin-bottom: 0.5em;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: unset;
            transform: unset;
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: unset;
            transform: unset;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: unset;
            transform: unset;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: unset;
            transform: unset;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

/**
 * ----------------------------------------
 * animation fade in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-bottom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
}
@keyframes scale-out-bottom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1;
  }
}

.AppPage {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow: auto;
  overflow-y: scroll;
  overflow-wrap: unset;
}

.Body {
  border: none;
  justify-self: stretch;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Body;
  gap: 0.5em;
  width: 100%;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.ListSection {
  min-height: 8em;
  -webkit-animation: fade-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: fade-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  gap: 0.5em;
  overflow: scroll;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background: none;
  margin-bottom: 0.5em;
}

ListSection:last-of-type {
  margin-bottom: 0;
}

.RowSnip {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.RowSnip html body {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

hr {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.ScreenHeaderSection {
  height: 8em;
  white-space: nowrap;
  gap: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.ScreenHeaderSection h2 {
  color: var(--text-regular);
}

.HList {
  overflow: scroll;
  white-space: nowrap;
  gap: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.HListItem {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 6.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 0.8em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
}

.HListItem .ListItemIcon {
  height: 3em;
  width: 3em;
  border-radius: 0.25em;
  background-size: contain !important;
}

.HListItem:first-child {
  margin-left: 1em;
}

.HListItem:last-child {
  margin-right: 1em;
}

.HListItem:only-child {
  margin-right: 1em;
  margin-left: 1em;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
          animation: bounce-top 0.9s both;
}

.unMiniApp {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.openApp {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms both;
          animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms both;
}

.closeApp {
  -webkit-animation: scale-out-center 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-center 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.miniApp {
  -webkit-animation: scale-out-bottom 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-bottom 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.AppContainer {
  display: inline-block;
  -ms-touch-action: none;
      touch-action: none;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0em 1em 1.5em -0.5em rgba(0, 0, 0, 0.1);
          box-shadow: 0em 1em 1.5em -0.5em rgba(0, 0, 0, 0.1);
  background-repeat: repeat;
  background-color: var(--background);
  border-radius: 0.25em;
  width: 60em;
  height: 35em;
  border: none;
  overflow: hidden;
}

.AppFullScreen {
  margin-left: 0px !important;
  margin-top: 0px !important;
  border-radius: 0em;
  width: 100% !important;
  height: 100% !important;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.App {
  display: -ms-grid;
  display: grid;
  grid-area: App;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -ms-grid-rows: min-content 3em 1fr;
      grid-template-rows: -webkit-min-content 3em 1fr;
      grid-template-rows: min-content 3em 1fr;
  height: 100%;
  gap: 0px 0px;
      grid-template-areas: "WindowDecoration WindowDecoration" "Toolbar Toolbar" "Sidebar Contents";
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.Sidebar {
  cursor: default;
  min-width: 10em;
  gap: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: start;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: Sidebar;
  background: var(--foreground);
  overflow-y: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 0px;
}

.Sidebar button {
  border-radius: 0em;
  width: 100%;
  background: unset;
}

.Sidebar button:hover {
  color: var(--text-regular);
  background: var(--background);
}

.Sidebar button:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.Sidebar button:active {
  color: var(--background);
  background: var(--brand);
}

.TitleAndMenu {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Menu;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: bold;
  color: white;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  padding-left: 0.5em;
}

.WindowDecoration {
  cursor: -webkit-grab;
  cursor: grab;
  background: #141013;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: WindowDecoration;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-flow: row;
  gap: 1em;
  justify-items: start;
      grid-template-areas: "Controls TitleAndMenu";
}

.WindowDecoration:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.Toolbar {
  cursor: default;
  padding: 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#141013), to(rgba(20, 16, 19, 0.9)));
  background: linear-gradient(180deg, #141013 0%, rgba(20, 16, 19, 0.9) 100%);
  display: -ms-grid;
  display: grid;
  gap: 0.5em;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "Tools Search";
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Toolbar;
}

.Toolbar button {
  text-align: left;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.Toolbar button:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.Controls {
  gap: 0.5em;
  padding: 0.5em;
  justify-self: start;
  -ms-flex-item-align: center;
      align-self: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Controls;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Controls button:first-of-type {
  background-color: var(--brand);
}

.Controls button {
  border-radius: 100%;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.25em;
  height: 1.25em;
  color: var(--text-regular);
  background: var(--neutral);
}

.Controls button img {
  width: 0.9em;
  height: 0.9em;
}

.Controls button:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.Controls button:active {
  background-color: var(--brand);
}

.ScreenHeaderIcon {
  background-size: contain !important;
  width: 8em;
  height: 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  text-align: center;
  line-height: 1em;
  border: none;
  border-radius: 0.25em;
  white-space: nowrap;
  font-size: 1em;
  color: #ffffff;
}

.search {
  background: none;
  color: white;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Search;
}

.search input {
  background: none;
}

.searchOpen {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Search;
}

.searchOpen input {
  background: none;
}

input {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--text-regular);
  border-radius: 0.25em;
  border: none;
}

.Tools {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Tools;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.Tools button {
  background: none;
}

.Tools button:hover {
  cursor: pointer;
  color: var(--text-regular);
  background: var(--foreground);
}

.Tools .ToolGroup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0em;
}

.Tools .ToolGroupH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0.1em;
}

.Tools .ToolGroupH :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Tools .ToolGroupH :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Tools .ToolGroupH :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Tools .ToolGroupH :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Tools button {
  color: var(--white);
}

.Contents {
  cursor: default;
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0.5em;
  grid-auto-flow: row;
      grid-template-areas: "Body Preview";
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: Contents;
}

.Preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--foreground);
  justify-self: end;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Preview;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  margin-right: 1em;
  margin-left: 1em;
  height: 3em;
  border-radius: 0.25em;
  outline: none;
}

#System {
  gap: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  vertical-align: middle;
  height: 1.5em;
  border-radius: 0.25em;
  border-style: none;
  background-size: cover;
  -webkit-transition: translate 0.3s ease-in-out;
  transition: translate 0.3s ease-in-out;
}

#AppList {
  justify-self: start;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 0.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: AppList;
  overflow-y: scroll;
  vertical-align: middle;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DockAppIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("/Apps/Settings/AppIcon.svg");
  background-color: unset !important;
  vertical-align: middle;
  height: 4em;
  border-radius: 0.25em;
  width: 4em;
  border-style: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.DockIconGhost {
  display: inline-block;
  vertical-align: middle;
  background-image: unset !important;
  height: 2.5em;
  width: 2.5em;
  background-size: cover;
}

.DockSystemIcon {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  height: 1.5em;
  border-radius: 0.25em;
  width: 1.5em;
  background-size: cover;
  -webkit-transition: translate 0.3s ease-in-out;
  transition: translate 0.3s ease-in-out;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  border-radius: 0.25em;
  margin-top: 3em;
  margin-left: 0.5em;
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 10;
  padding: 0.25em;
}

.show {
  display: block;
}

[data-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 0.9em;
  pointer-events: none;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  opacity: 0;
}

[data-tooltip]:before {
  content: "";
  z-index: 100;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background: var(--foreground);
  color: var(--text-regular);
  z-index: 99;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}

[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
}

[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}

[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -0.5em);
  transform: translate(-50%, -0.5em);
}

[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
}

[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}

[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 0.75em);
  transform: translate(-50%, 0.75em);
}

[data-tooltip][data-flow="left"]::before {
  top: 50%;
  left: calc(0em - 5px);
  -webkit-transform: translate(-0.75em, -50%);
  transform: translate(-0.75em, -50%);
}

[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-0.75em, -50%);
  transform: translate(-0.75em, -50%);
}

[data-tooltip][data-flow="right"]::before {
  top: 50%;
  right: calc(0em - 5px);
  -webkit-transform: translate(0.75em, -50%);
  transform: translate(0.75em, -50%);
}

[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(0.75em, -50%);
  transform: translate(0.75em, -50%);
}

[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}

.Toolbar {
  background-color: var(--background);
}

@-webkit-keyframes SpinnerLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes SpinnerLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.SpinnerLoader div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-animation: SpinnerLoader linear 0.5s infinite;
          animation: SpinnerLoader linear 0.5s infinite;
  width: 34.379999999999995px;
  height: 22.919999999999998px;
  border-radius: 17.189999999999998px / 11.459999999999999px;
  -webkit-transform-origin: 17.189999999999998px 24.83px;
          transform-origin: 17.189999999999998px 24.83px;
}

.SpinnerLoader div:nth-child(1) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation-delay: -0.4583333333333333s;
          animation-delay: -0.4583333333333333s;
}

.SpinnerLoader div:nth-child(2) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation-delay: -0.4166666666666667s;
          animation-delay: -0.4166666666666667s;
}

.SpinnerLoader div:nth-child(3) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation-delay: -0.375s;
          animation-delay: -0.375s;
}

.SpinnerLoader div:nth-child(4) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation-delay: -0.3333333333333333s;
          animation-delay: -0.3333333333333333s;
}

.SpinnerLoader div:nth-child(5) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation-delay: -0.2916666666666667s;
          animation-delay: -0.2916666666666667s;
}

.SpinnerLoader div:nth-child(6) {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}

.SpinnerLoader div:nth-child(7) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation-delay: -0.20833333333333334s;
          animation-delay: -0.20833333333333334s;
}

.SpinnerLoader div:nth-child(8) {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation-delay: -0.16666666666666666s;
          animation-delay: -0.16666666666666666s;
}

.SpinnerLoader div:nth-child(9) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation-delay: -0.125s;
          animation-delay: -0.125s;
}

.SpinnerLoader div:nth-child(10) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation-delay: -0.08333333333333333s;
          animation-delay: -0.08333333333333333s;
}

.SpinnerLoader div:nth-child(11) {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation-delay: -0.041666666666666664s;
          animation-delay: -0.041666666666666664s;
}

.SpinnerLoader div:nth-child(12) {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.SpinnerBox {
  width: 191px;
  height: 191px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.SpinnerLoader {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: translateZ(0) scale(1);
          transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  /* see note above */
}

.SpinnerLoader div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
/*# sourceMappingURL=stylesheet.css.map */