@font-face {
  font-family: "Roboto";
  src: url("/system/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
.search {
  width: 100%;
}
h2 {
  font-size: 1em;
  font-weight: bold;
  margin-top: unset;
  margin-bottom: unset;
  padding-bottom: 0.5em;
}

.DisplayFullscreen {
  animation: fullscreen 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.DisplayNormal {
  animation: DisplayNormal 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.DrawerClosed {
  height: 3em !important;
  padding: 0em !important;
}

.DockDrawerOpen{
  transition: all 0.5s ease-out;
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "AppList System";
  align-self: end;
  grid-area: Dock;
  border-radius: 0.25em;
  height: 3.5em !important;
  padding: 0.5em !important;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
}

.WindowsDrawerOpen {
  transition: all 0.5s ease-out;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  gap: 0.5em;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  justify-self: stretch;
  align-self: stretch;
  grid-area: Windows;
  transform: scale(0.4) translatey(-66%);
}
.DrawerDrawerOpen {
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow: visible;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  position: fixed;
  bottom: 0.5em;
  height: 50% !important;
  right: 0.5em;
  left: 0.5em;
  transition: all 0.5s ease-out;
}

.AllAppsDrawerOpen {
  transition: all 0.5s ease-out;
  padding: 0.5em !important;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow-y: scroll;
  display: flex;
  width: 100%;
  gap: 0.5em;
}
#AllApps {
  transition: all 0.5s ease-out;
  padding: 0.75em;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow-y: scroll;
  display: flex;
  width: 100%;
  gap: 0.5em;
}

#Drawer {
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow: visible;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  transition: all 0.5s ease-out;
}

body {
  font-family: "Roboto";
  margin: 0px;
  width: 100vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0.5em 0px;
  grid-template-areas: "Display";
}
button {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  text-align: left;
  padding: 1em 0.5em;
  line-height: 1em;
  border: none;
  height: 2em;
  border-radius: 0.25em;
  white-space: nowrap;
  transition: all 300em linear;
  font-size: 1em;
  color: #ffffff;

  img {
    width: 1.1em;
    height: 1.1em;
    border-radius: 0.25em !important;
  }
}
button:active {
  color: #ffffff !important;
}

#Display {
  transition: all 150ms ease-out;
  padding: 0.5em;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr;
  gap: 0.5em;
  grid-template-areas:
    "Windows"
    "Dock";
  justify-self: stretch;
  align-self: stretch;
  grid-area: Display;
  background-size: cover;
}

.ghost {
  opacity: 0.1;
}
#Windows {
  transition: all 0.5s ease-out;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  gap: 0.5em;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  justify-self: stretch;
  align-self: stretch;
  grid-area: Windows;
}
#Dock {
  transition: background-color ease-out 0.5s;
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "AppList System";
  align-self: end;
  padding: 0.25em;
  grid-area: Dock;
  border-radius: 0.25em;
  height: 3em;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-bottom
 * ----------------------------------------
 */
@keyframes scale-in-bottom {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

// grid-template-rows: 100vh min-content !important;
// padding: 0em !important;
// #Windows {
//   gap: 0.1em !important;
//   .AppContainer {
//     border-radius: 0em;

@keyframes fullscreen {
  0% {
    grid-template-rows: 1fr min-content;
    gap: 0.5em;
    padding: 0.5em;
  }
  100% {
    gap: 0em;
    padding: 0em;
    grid-template-rows: 100vh min-content;
  }
}

@keyframes Displaynormal {
  0% {
    gap: 0em;
    padding: 0em;
    grid-template-rows: 100vh min-content;
  }
  100% {
    grid-template-rows: 1fr min-content;
    gap: 0.5em;
    padding: 0.5em;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-bottom
 * ----------------------------------------
 */
@keyframes scale-out-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.AppPage {
  overflow-x: hidden;
  overflow: auto;
  overflow-y: scroll;
  overflow-wrap: unset;
}
.Body {
  justify-self: stretch;
  align-self: stretch;
  grid-area: Body;
  gap: 0.5em;
  width: 100%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  flex-grow: 0;
}
.ListSection {
  gap: 0.5em;
  overflow: scroll;
  justify-self: stretch;
  border-radius: 0.5em;
  align-items: flex-start;
  padding: 1em;
  flex: none;
  align-self: initial;
  flex-grow: 0;
  flex-shrink: 1;
}
.RowSnip {
  height: fit-content !important;
  html {
    body {
      height: fit-content !important;
    }
  }
}
.HList {
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
  gap: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: left;
}
.HListItem {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8em;
  flex-direction: column;
  padding: 0.5em;
  .ListItemIcon {
    height: 3em;
    width: 3em;
    border-radius: 0.25em;
  }
}
.bounce-top {
  animation: bounce-top 0.9s both;
}
.unMiniApp {
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.openApp {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms
    both;
}
.closeApp {
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.miniApp {
  animation: scale-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.AppContainer {
  body {
    background-color: none !important;
  }
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  border-radius: 0.25em;
  border: none;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  gap: 1em 0px;
  grid-template-areas: "App";
  transition: width 300ms ease-in-out;
}
.App {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 3em 1fr;
  gap: 0px 0px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "Sidebar Toolbar"
    "Sidebar Contents";
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  animation-timing-function: ease-out;
}

.Sidebar {
  gap: 0.5em;
  width: fit-content;
  justify-self: start;
  grid-area: Sidebar;
  border-radius: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  button {
    width: 100%;
  }
  .ToolGroup {
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 0.1em;
  }
  .ToolGroup :first-child {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
  }
  .ToolGroup :not(:first-child) {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }
  .ToolGroup :last-child {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.25em;
  }
  .ToolGroup :only-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }

  .ToolGroupH {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    gap: 0.1em;
  }
  .ToolGroupH :first-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }
  .ToolGroupH :not(:first-child) {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }
  .ToolGroupH :last-child {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
  .ToolGroupH :only-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
  .ToolGroupH {
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-image: url(/users/template/Apps/Settings/AppIcon.svg);
      color: white;
    }
  }
}

.Toolbar {
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  display: grid;
  gap: 0.5em;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  grid-template-areas: "AppIcon Tools Search Controls";
  grid-area: Toolbar;
  button {
    text-align: left;
    break-inside: avoid;
  }
}

.Controls {
  gap: 0.1em;
  justify-self: end;
  align-self: center;
  grid-area: Controls;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  button {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
  }
}
.Controls :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Controls :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Controls :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.Controls :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.AppMenuButton {
  grid-area: AppIcon;
}
.search {
  grid-area: Search;
}

.Tools {
  grid-area: Tools;
  display: flex;
  flex-direction: row;
  justify-self: stretch;
  align-items: center;
  gap: 0.5em;
  button {
    display: flex;
    flex-direction: left;
    justify-content: left;
    align-items: center;
    border-radius: unset;
  }
}

// .ToolGroup:hover {
//   border: #ffffff50 solid 0.1em !important;
//   background: #ffffff10;
//   border-radius: 0.35em;
// }
.Toolbar .ToolGroup {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: left;
  gap: 0.1em;
}

.Toolbar .ToolGroup :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Toolbar .ToolGroup :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Toolbar .ToolGroup :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.Toolbar .ToolGroup :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Contents {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0.5 0px;
  grid-auto-flow: row;
  grid-template-areas: "Body Preview";
  grid-area: Contents;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
}

.Preview {
  background: rgba(255, 255, 255, 0.75);
  justify-self: end;
  align-self: stretch;
  border-radius: 1em;
  width: fit-content;
  padding: 0.5em;
  grid-area: Preview;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
}

#System {
  gap: 0.5em !important;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-items: flex-end;
  vertical-align: middle;
  height: 2.5em;
  border-radius: 0.25em;  
  border-style: none;
  background-size: cover;
  transition: translate 250ms ease-out;
}
#AppList {
  justify-self: start;
  align-self: stretch;
  flex-grow: 1;
  gap: 0.5em;
  display: flex;
  width: 100%;
  grid-area: AppList;
  vertical-align: middle;
  flex-direction: row;
  flex-wrap: nowrap;
}
.DockAppIcon {
  display: flex;
  flex-direction: row;
  justify-self: stretch;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  vertical-align: middle;
  height: 2.5em;
  border-radius: 0.25em;
  width: 2.5em;
  border-style: none;
  background-size: cover;
  transition: translate 250ms ease-out;
}
.DockIconGhost {
  display: inline-block;
  vertical-align: middle;
  background-image: unset !important;
  height: 2.5em;
  width: 2.5em;
  background-size: cover;
}
.DockSystemIcon {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  height: 2.5em;
  border-radius: 0.25em;
  width: 2.5em;
  background-size: cover;
  transition: translate 250ms ease-out;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  border-radius: 0.25em;
  margin-top: 3em;
  margin-left: 0.5em;
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 10;
  padding: 0.25em;
  .ToolGroup :first-child {
    width: 100%;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
  }
  .ToolGroup :not(:first-child) {
    width: 100%;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }
  .ToolGroup :last-child {
    width: 100%;
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.25em;
  }
  .ToolGroup :only-child {
    width: 100%;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
}
.show {
  display: block;
}
