@font-face {
  font-family: "Ubuntu";
  src: url("/system/fonts/Ubuntu/Ubuntu-R.ttf") format("truetype");
}

// /* Colours */
// /* Light mode */
// @media (prefers-color-scheme: light) {
  :root {
    --black: #111111;
    --white: #ffffff;

    --background: #ffffff;
    --foreground: #f7f7f7;

    --text-regular: #111111;
    --text-secondary: #5d5d5d;

    --positive: #0e8420;
    --negative: #c7162b;
    --neutral: #cdcdcd;
    --live: #335280;
    --brand: #e95420;
  }
// }

// /* Dark mode */
// @media (prefers-color-scheme: dark) {
// :root {
//     --black: #111111;
//     --white: #ffffff;

//     --background: #111111;
//     --foreground: #3b3b3b;

//     --text-regular: #ffffff;
//     --text-secondary: #CDCDCD;

//     --positive: #3eb34f;
//     --negative: #ed3146;
//     --neutral: #cdcdcd;
//     --live: #19b6ee;
//     --brand: #e95420;
// }
// }
#BootStatus {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  height: max-content;
  color: var(--text-regular);
}
#BootScreen {
  display: flex;
  height: 100vh;
  position: fixed;
  background-color: var(--background);
  z-index: 10000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  overflow: auto;
}

.Spinner {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 2em;
  height: 2em;
  display: block;
  background-image: url(/System/Icons/Spinner.svg);
  background-size: contain;
  animation: rotate-center 1s linear infinite both;
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

h2 {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: unset;
  padding-bottom: 0.5em;
  color: var(--text-secondary);
}
#Dash {
  display: none;
  font-size: 1em;
  color: var(--text-regular);
  position: absolute;
  z-index: 10000;
  top: 2em;
  left: 4.5em;
  width: 60em;
  height: 40em;
  background-color: rgba(11, 11, 11, 0.75);
  backdrop-filter: blur(0.5em);
  padding: 0;
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-left-width: 0em;
  border-top-width: 0em;
  border-radius: 0 0 6px 0;
}
.DisplayFullscreen {
  animation: fullscreen 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.DisplayNormal {
  animation: DisplayNormal 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.AppRunning {
  transform: scale(1) !important;
}

#AllApps {
  transition: all 0.3s ease-in-out;
  padding: 0.25em;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow: hidden;
  height: 100%;
  display: flex;
  width: 100%;
  gap: 0.25em;
}

body {
  font-family: "Ubuntu";
  margin: 0px;
  width: 100vw;
  height:100vh;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0.5em 0px;
  grid-template-areas: "Display";
}
button {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  text-align: left;
  padding: 1em 0.5em;
  line-height: 1em;
  border: none;
  height: 2em;
  border-radius: 0.25em;
  white-space: nowrap;
  transition: all 0.1s ease-in-out;
  font-size: 1em;
  color: var(--text-regular);
  background: var(--background);
  img {
    width: 1.1em;
    height: 1.1em;
    border-radius: 0.25em !important;
  }
}
button:hover {
  color: var(--text-regular);
  background: var(--foreground);
}
button:disabled {
  opacity: 0.5;
}
button:disabled:hover {
  color: var(--text-regular);
  background: var(--background);
}
button:disabled:active {
  color: var(--text-regular);
  background: var(--background);
}

button:active {
  color: var(--background);
  background: var(--brand);
}
.DesktopSelector{
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  opacity: 0.5;
  background: var(--black)
}
.DesktopSelector:hover {
  opacity: 0
}
#Display {
  background: var(--black);
  overflow: hidden !important;
  transition: all 0.3s ease-in-out;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 2em 1fr;
  grid-template-areas:
    "TopBar TopBar"
    "Launcher Desktop";
  grid-area: Display;
}

#TopBar {
  z-index: 1000;
  grid-area: TopBar;
  display: grid;
  grid-template-columns: 4.5em 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0.5em 0px;
  padding: 0.25em 0em;
  grid-template-areas:
    "TopBarControls Menu System";
  background-color: var(--black);
}
#Desktop {
  grid-area: Desktop;
  display: grid;
  position: relative;
  gap: 0em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;
  width:200%;
  height: 200%;
  transition: scale 0.3s ease-out;
  grid-template-areas:
    "Desktop1 Desktop2"
    "Desktop3 Desktop4"
}
.Desktop {
  background-size: cover;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-out;
}
.DesktopOverview {
  left: 0;
  top: 0;
  overflow: visible;
  gap: 1em !important;
  padding: 1em;
  transition: all 0.3s ease-out;
  transform-origin: top left;
  scale: 0.5;
}
.DesktopSelector {
  transition: opacity 0.3s ease-out;
}

.Desktop1 {
  left: 0 !important;
  top: 0 !important;
  transform-origin: top left;
}
.Desktop2 {
  left: -100% !important;
  top: 0 !important;
  transform-origin: top right;
}
.Desktop3 {
  left: 0 !important;
  top: -100% !important;
  transform-origin: bottom left;
}
.Desktop4 {
  left: -100% !important;
  top: -100% !important;
  transform-origin: bottom right;
}
#DesktopSelector1 {
  grid-area: Desktop1;
}
#DesktopSelector2 {
  grid-area: Desktop2;
}
#DesktopSelector3 {
  grid-area: Desktop3;
}
#DesktopSelector4 {
  grid-area: Desktop4;
}
#Dock {
  z-index: 1000;
  background-color: var(--black);
  transition: all 0.3s ease-in-out;
  overflow: scrollY;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  gap: 0.5em 0px;
  padding: 0.25em;
  grid-template-areas:
    "DashIcon"
    "AppList";
  grid-area: Launcher;
  height: 100%;
}
.DashAppIcon {
  grid-area: DashIcon;
  margin-bottom: 0.5em;
}
/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: unset;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-bottom
 * ----------------------------------------
 */
@keyframes scale-in-bottom {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: unset;
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

/**
 * ----------------------------------------
 * animation fade in
 * ----------------------------------------
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-bottom
 * ----------------------------------------
 */
@keyframes scale-out-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}
.AppPage {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow: auto;
  overflow-y: scroll;
  overflow-wrap: unset;
}
.Body {
  border: none;
  justify-self: stretch;
  align-self: stretch;
  grid-area: Body;
  gap: 0.5em;
  width: 100%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  flex-grow: 0;
}
.ListSection {
  min-height: 8em;
  animation: fade-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  gap: 0.5em;
  overflow: scroll;
  justify-self: stretch;
  align-items: flex-start;
  padding: 0em;
  flex: none;
  align-self: initial;
  flex-grow: 0;
  flex-shrink: 1;
  background: none;
  margin-bottom: 0.5em;
}
ListSection:last-of-type {
  margin-bottom: 0;
}
.RowSnip {
  height: fit-content !important;
  html {
    body {
      height: fit-content !important;
    }
  }
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.ScreenHeaderSection {
  height: 8em;
  white-space: nowrap;
  gap: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: left;
  h2 {
    color: var(--text-regular);
  }
}
.HList {
  overflow: scroll;
  white-space: nowrap;
  gap: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: left;
}
.HListItem {
  height: fit-content;
  width: fit-content;
  min-width: 6.5em;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8em;
  flex-direction: column;
  padding: 0.5em;
  .ListItemIcon {
    height: 3em;
    width: 3em;
    border-radius: 0.25em;
    background-size: contain !important;
  }
}
.HListItem:first-child {
  margin-left: 1em;
}
.HListItem:last-child {
  margin-right: 1em;
}
.HListItem:only-child {
  margin-right: 1em;
  margin-left: 1em;
}
.bounce-top {
  animation: bounce-top 0.9s both;
}
.unMiniApp {
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.openApp {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms
    both;
}
.closeApp {
  animation: scale-out-center 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.miniApp {
  animation: scale-out-bottom 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.AppContainer {
  display: inline-block;
  touch-action: none;
  // margin-left: 50%;
  // margin-top: 50%;
  // translate: -50% -125%;
  position: absolute;
  user-select: none;
  box-shadow: 0em 1em 1.5em -0.5em rgba(0, 0, 0, 0.1);
  background-repeat: repeat;
  background-color: var(--background);
  border-radius: 0.25em;
  width: 60em;
  height: 35em;
  border: none;
  overflow: hidden;
}

.AppFullScreen {
  margin-left: 0px !important;
  margin-top: 0px !important;
  border-radius: 0em;
  width: 100% !important;
  height: 100% !important;
  transition: all 0.3s ease-out;
}
.App {
  display: grid;
  grid-area: App;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 3em 1fr;
  height: 100%;
  gap: 0px 0px;
  grid-template-areas:
    "WindowDecoration WindowDecoration"
    "Toolbar Toolbar"
    "Sidebar Contents";
  animation-timing-function: ease-in-out;
}

.Sidebar {
  cursor: default;
  min-width: 10em;
  gap: 0.5em;
  width: fit-content;
  justify-self: start;
  grid-area: Sidebar;
  background: var(--foreground);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  button {
    border-radius: 0em;
    width: 100%;
    background: unset;
  }
  button:hover {
    color: var(--text-regular);
  background: var(--background);
  img {
    filter:invert(1);
  }
  }
  button:active {
    color: var(--background);
    background: var(--brand);
  }
}

.TitleAndMenu {
  grid-area: Menu;
  display: inline-flex;
  font-weight: bold;
  color: white;
  flex-direction: row;
  align-items: middle;
  padding-left: 0.5em;
}

.WindowDecoration {
  cursor: grab;
  background: #141013;
  grid-area: WindowDecoration;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  gap: 1em;
  justify-items: start;
  grid-template-areas: "Controls TitleAndMenu";
}

.WindowDecoration:active {
  cursor: grabbing;
}

.Toolbar {
  cursor:default;
  padding: 0.5em;
  background: linear-gradient(180deg, #141013 0%, rgba(20, 16, 19, 0.9) 100%);
  display: grid;
  gap: 0.5em;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  grid-template-areas: "Tools Search";
  grid-area: Toolbar;
  button {
    text-align: left;
    break-inside: avoid;
  }
  button:hover {
    img {
      filter:invert(1);
    }
  }
}

.Controls {
  gap: 0.5em;
  padding: 0.5em;
  justify-self: start;
  align-self: center;
  width: min-content;
  grid-area: Controls;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  button:first-of-type {
    background-color: var(--brand);
  }
  button {
    border-radius: 100%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25em;
    height: 1.25em;
    color: var(--text-regular);
    background: var(--neutral);
    img {
      width: 0.9em;
      height: 0.9em;
    }
  }
  button:hover {
    img {
      filter:invert(1);
    }
  }
  button:active {
    background-color: var(--brand);
  }
}

.ScreenHeaderIcon {
  background-size: contain !important;
  width: 8em;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  line-height: 1em;
  border: none;
  border-radius: 0.25em;
  white-space: nowrap;
  font-size: 1em;
  color: #ffffff;
}
.search {
  background: none;
  color:white;
  grid-area: Search;
  input {
    background: none;
  }
}
.searchOpen {
  grid-area: Search;
  input {
    background: none;
  }
}
input {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--text-regular);
  border-radius: 0.25em;
  border: none;
}

.Tools {
  grid-area: Tools;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
  button {
    background: none;
  }
  button:hover {
    cursor: pointer;
    color: var(--text-regular);
  background: var(--foreground);
  }
  .ToolGroup {
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 0em;
  }

  .ToolGroupH {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    gap: 0.1em;
  }
  .ToolGroupH :first-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }
  .ToolGroupH :not(:first-child) {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }
  .ToolGroupH :last-child {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
  .ToolGroupH :only-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
  button {
    color:var(--white);
  }
}
.Contents {
  cursor: default;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0.5em;
  grid-auto-flow: row;
  grid-template-areas: "Body Preview";
  grid-area: Contents;
}

.Preview {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  background: var(--foreground);
  justify-self: end;
  align-self: stretch;
  width: fit-content;
  padding: 0.5em;
  grid-area: Preview;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  margin-right: 1em;
  margin-left: 1em;
  height: 3em;
  border-radius: 0.25em;
  outline: none;
}
#System {
  gap: 0.25em;
  display: flex;
  width: 10em;
  flex-direction: row;
  justify-self: flex-end;
  align-items: flex-end;
  vertical-align: middle;
  height: 1.5em;
  border-radius: 0.25em;
  border-style: none;
  background-size: cover;
  transition: translate 0.3s ease-in-out;
}
#AppList {
  justify-self: start;
  align-self: stretch;
  flex-grow: 1;
  gap: 0.25em;
  display: flex;
  width: 100%;
  grid-area: AppList;
  overflow-y: scroll;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: wrap;
}
.DockAppIcon {
  display: flex;
  flex-direction: row;
  justify-self: stretch;
  align-items: center;
  background-image: url("/Apps/Settings/AppIcon.svg");
  background-color: unset !important;
  vertical-align: middle;
  height: 4em;
  border-radius: 0.25em;
  width: 4em;
  border-style: none;
  transition: all 0.3s ease-in-out;
}
.DockIconGhost {
  display: inline-block;
  vertical-align: middle;
  background-image: unset !important;
  height: 2.5em;
  width: 2.5em;
  background-size: cover;
}
.DockSystemIcon {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  height: 1.5em;
  border-radius: 0.25em;
  width: 1.5em;
  background-size: cover;
  transition: translate 0.3s ease-in-out;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  border-radius: 0.25em;
  margin-top: 3em;
  margin-left: 0.5em;
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 10;
  padding: 0.25em;
}
.show {
  display: block;
}
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 0.9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  background: var(--foreground);
  color: var(--text-regular);
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -0.5em);
  transform: translate(-50%, -0.5em);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 0.75em);
  transform: translate(-50%, 0.75em);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  left: calc(0em - 5px);
  -webkit-transform: translate(-0.75em, -50%);
  transform: translate(-0.75em, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-0.75em, -50%);
  transform: translate(-0.75em, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  right: calc(0em - 5px);
  -webkit-transform: translate(0.75em, -50%);
  transform: translate(0.75em, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(0.75em, -50%);
  transform: translate(0.75em, -50%);
}
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}
.Toolbar {
  background-color: var(--background);
}
@keyframes SpinnerLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.SpinnerLoader div {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: SpinnerLoader linear 0.5s infinite;
  width: 34.379999999999995px;
  height: 22.919999999999998px;
  border-radius: 17.189999999999998px / 11.459999999999999px;
  transform-origin: 17.189999999999998px 24.83px;
}
.SpinnerLoader div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.4583333333333333s;
}
.SpinnerLoader div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.4166666666666667s;
}
.SpinnerLoader div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.375s;
}
.SpinnerLoader div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.3333333333333333s;
}
.SpinnerLoader div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.2916666666666667s;
}
.SpinnerLoader div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.25s;
}
.SpinnerLoader div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.20833333333333334s;
}
.SpinnerLoader div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.16666666666666666s;
}
.SpinnerLoader div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.125s;
}
.SpinnerLoader div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.08333333333333333s;
}
.SpinnerLoader div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.041666666666666664s;
}
.SpinnerLoader div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
.SpinnerBox {
  width: 191px;
  height: 191px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.SpinnerLoader {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.SpinnerLoader div {
  box-sizing: content-box;
}
