html {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  user-select: none;
}
@font-face {
  font-family: "Roboto";
  src: url("/system/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
.search {
  width: 100%;
}

.DrawerOpen {
    height: fit-content !important;
    padding: 0.5em !important;
    #Dock {
      background: rgba(255, 255, 255, 0.75);
      backdrop-filter: blur(1em);
    }
  }

.DrawerClosed {
  height: 3em !important;
  padding: 0em !important;
}

#AllApps {
  padding-top: 0.5em;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow-y: scroll;
  flex-wrap: wrap;
}

#Drawer {
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  transition: all 150ms ease-out;
}

body {
  font-family: "Roboto";
  margin: 0px;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0.5em 0px;
  grid-template-areas: "Display";
}
button {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  text-align: left;
  padding: 1em 0.5em;
  line-height: 1em;
  border: none;
  height: 2em;
  border-radius: 0.25em;
  white-space: nowrap;
transition: all 300em linear;

img {
    width: 1.1em;
    height: 1.1em;
    border-radius: 0.25em !important;
  }
}

#Display {
  transition: all 150ms ease-out;
  padding: 0.5em;
  height: 100vh;
  overflow: hidden;
  display: grid;
  transition: all 150ms ease-out;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr;
  gap: 0.5em;
  grid-template-areas:
    "Windows"
    "Dock";
  justify-self: stretch;
  align-self: stretch;
  grid-area: Display;
  background-size: cover;
}

.DisplayNormal {
  grid-template-rows: 1fr min-content !important;
  padding: 0.5em !important;
}
.DisplayFullscreen {
  grid-template-rows: 100vh min-content !important;
  padding: 0em !important;
  #Windows {
    gap: 0.1em !important;
    .AppContainer {
    border-radius: 0em;
  }
}
}

.ghost {
  opacity: 0;
}
#Windows {
  transition: all 150ms ease-out;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  gap: 0.5em 0.5em;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  justify-self: stretch;
  align-self: stretch;
  grid-area: Windows;
}
#Dock {
  transition: background-color ease-out 150ms;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "AppList System";
  align-self: end;
  padding: 0.25em;
  grid-area: Dock;
  border-radius: 0.25em;
  height: 3em;
}
@keyframes attention {
  0% {
    transform: translateX(0em);
  }
  25% {
    transform: translateX(-10em);
  }
  50% {
    transform: translateX(10em);
  }
  100% {
    scale: 1;
  }
}

@keyframes openApp {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}
.AppContainer {
  animation-name: openApp;
  animation-duration: 300ms;
  animation-delay: 0ms;
  body {
    background-color: none !important;
  }
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  border-radius: 0.25em;
  border: none;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  gap: 1em 0px;
  grid-template-areas: "App";
}
.App {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 3em 1fr;
  gap: 0px 0px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "Sidebar Toolbar"
    "Sidebar Contents";
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  animation-timing-function: ease-out;
}

.Sidebar {
  gap: 0.5em;
  width: fit-content;
  justify-self: start;
  grid-area: Sidebar;
  border-radius: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  button {
    width: 100%;
  }
  .ToolGroup {
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 0.1em;
  }
  .ToolGroup :first-child {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0em;
    border-bottom-left-radius: 0em;
  }
  .ToolGroup :not(:first-child) {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;
  }
  .ToolGroup :last-child {
    border-top-left-radius: 0em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0em;
    border-bottom-right-radius: 0.25em;
  }
  .ToolGroup :only-child {
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
}

.Toolbar {
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  grid-template-areas: "Tools Controls";
  grid-area: Toolbar;
  button {
    text-align: left;
    break-inside: avoid;
  }
}

.Controls {
  gap: 0.1em;
  justify-self: end;
  align-self: center;
  grid-area: Controls;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  button {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
  }
}
.Controls :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Controls :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Controls :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.Controls :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Tools {
  grid-area: Tools;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  button {
    display: flex;
    flex-direction: left;
    justify-content: left;
    align-items: center;
    border-radius: unset;
  }
}
.Toolbar .ToolGroup {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: left;
  gap: 0.1em;
}

.Toolbar .ToolGroup :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Toolbar .ToolGroup :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Toolbar .ToolGroup :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.Toolbar .ToolGroup :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Contents {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.5 0px;
  grid-auto-flow: row;
  grid-template-areas: "Body Preview";
  grid-area: Contents;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
}

.Preview {
  background: rgba(255, 255, 255, 0.75);
  justify-self: end;
  align-self: stretch;
  border-radius: 1em;
  width: fit-content;
  padding: 0.5em;
  grid-area: Preview;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
}

.Body {
  justify-self: stretch;
  align-self: stretch;
  grid-area: Body;
  gap: 0.5em;
  overflow: visible;
}

#System {
  justify-self: end;
  align-self: center;
  grid-area: System;
  vertical-align: middle;
}
#AppList {
  overflow-x: scroll;
  justify-self: start;
  align-self: center;
  grid-area: AppList;
  vertical-align: middle;
}
.DockAppIcon {
  display: inline-block;
  vertical-align: middle;
  height: 2.5em;
  border-radius: 0.25em;
  width: 2.5em;
  border-style: none;
  background-size: cover;
  transition: translate 300ms ease-out;
}
.DockIconGhost {
  display: inline-block;
  vertical-align: middle;
  background-image: unset !important;
  height: 2.5em;
  width: 2.5em;
  background-size: cover;
}
.DockSystemIcon {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  height: 2.5em;
  border-radius: 0.25em;
  width: 2.5em;
  margin: 0.5em 0.25em;
  background-size: cover;
  transition: translate 300ms ease-out;
}
