@font-face {
  font-family: "Roboto";
  src: url("/system/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
.search {
  width: 100%;
}
h2 {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: unset;
  padding-bottom: 0.5em;
}

.DisplayFullscreen {
  animation: fullscreen 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.DisplayNormal {
  animation: DisplayNormal 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.DrawerClosed {
  height: 3em !important;
  padding: 0em !important;
  box-shadow: 0em 1em 1.5em -0.5em rgba(0, 0, 0, 0.1);
}

.DockDrawerOpen {
  transition: all 0.25s ease-in-out;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
}

.WindowsDrawerOpen {
  transition: all 0.25s ease-in-out;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  gap: 0.5em;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  justify-self: stretch;
  align-self: stretch;
  grid-area: Windows;
  transform: scale(0.4) translatey(-66%);
}
.DrawerDrawerOpen {
  position: fixed;
  bottom: 0.5em;
  height: 50% !important;
  right: 0.5em;
  left: 0.5em;
  transition: all 0.25s ease-in-out;
  box-shadow: 0em 1em 1.5em -0.5em rgba(0, 0, 0, 0.1);
}

.AllAppsDrawerOpen {
  transition: all 0.25s ease-in-out;
  overflow: scroll;
}
#AllApps {
  transition: all 0.25s ease-in-out;
  padding: 0.5em;
  flex-direction: row;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow: hidden;
  height: 100%;
  display: flex;
  width: 100%;
  gap: 0.25em;
}

#Drawer {
  box-shadow: 0em 1em 1.5em -0.5em rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.25em;
  overflow: visible;
  background-image: url(/system/images/white-brushed.png);
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1em);
  transition: all 0.25s ease-in-out;
}

body {
  font-family: "Roboto";
  margin: 0px;
  width: 100vw;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0.5em 0px;
  grid-template-areas: "Display";
}
button {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  text-align: left;
  padding: 1em 0.5em;
  line-height: 1em;
  border: none;
  height: 2em;
  border-radius: 0.25em;
  white-space: nowrap;
  transition: all 0.25s ease-in-out;
  font-size: 1em;
  color: #ffffff;

  img {
    width: 1.1em;
    height: 1.1em;
    border-radius: 0.25em !important;
  }
}
button:active {
  color: #ffffff !important;
}

#Display {
  transition: all 1s ease-in-out;
  padding: 0.5em;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr min-content;
  gap: 0.5em;
  grid-template-areas:
    "Windows"
    "Dock";
  justify-self: stretch;
  align-self: stretch;
  grid-area: Display;
  background-size: cover;
}

.ghost {
  opacity: 0.1;
}
#Windows {
  height: 100%;
  transition: all 0.25s ease-in-out;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  gap: 0.5em;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  justify-self: stretch;
  align-self: stretch;
  grid-area: Windows;
}
#Dock {
  transition: all 0.25s ease-in-out;
  overflow: visible;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "AppList System";
  align-self: end;
  padding: 0.25em;
  grid-area: Dock;
  border-radius: 0.25em;
  height: 3em;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-bottom
 * ----------------------------------------
 */
@keyframes scale-in-bottom {
  0% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@keyframes shake-bottom {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }
  10% {
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

// grid-template-rows: 100vh min-content !important;
// padding: 0em !important;
// #Windows {
//   gap: 0.1em !important;
//   .AppContainer {
//     border-radius: 0em;

@keyframes fullscreen {
  0% {
    grid-template-rows: 1fr min-content;
    gap: 0.5em;
    padding: 0.5em;
  }
  100% {
    gap: 0em;
    padding: 0em;
    grid-template-rows: 100vh min-content;
  }
}

@keyframes Displaynormal {
  0% {
    gap: 0em;
    padding: 0em;
    grid-template-rows: 100vh min-content;
  }
  100% {
    grid-template-rows: 1fr min-content;
    gap: 0.5em;
    padding: 0.5em;
  }
}

/**
 * ----------------------------------------
 * animation fade in
 * ----------------------------------------
 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-bottom
 * ----------------------------------------
 */
@keyframes scale-out-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    transform: scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
}
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
}
.AppPage {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow: auto;
  overflow-y: scroll;
  overflow-wrap: unset;
}
.Body {
  border: none;
  justify-self: stretch;
  align-self: stretch;
  grid-area: Body;
  gap: 0.5em;
  width: 100%;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  flex-grow: 0;
}
.ListSection {
  border: 0.1em solid #00000008;
  min-height: 8em;
  animation: fade-in 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  gap: 0.5em;
  overflow: scroll;
  justify-self: stretch;
  border-radius: 0.5em;
  align-items: flex-start;
  padding: 0em;
  flex: none;
  align-self: initial;
  flex-grow: 0;
  flex-shrink: 1;
}
.RowSnip {
  height: fit-content !important;
  html {
    body {
      height: fit-content !important;
    }
  }
}
hr {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.ScreenHeaderSection {
  height: 8em;
  white-space: nowrap;
  gap: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: left;
}
.HList {
  overflow: scroll;
  white-space: nowrap;
  gap: 0.5em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: left;
}
.HListItem {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.8em;
  flex-direction: column;
  padding: 0.5em;
  .ListItemIcon {
    height: 3em;
    width: 3em;
    border-radius: 0.25em;
  }
}
.HListItem:first-child {
  margin-left: 1em;
}
.HListItem:last-child {
  margin-right: 1em;
}
.bounce-top {
  animation: bounce-top 0.9s both;
}
.unMiniApp {
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.openApp {
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms
    both;
}
.closeApp {
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.miniApp {
  animation: scale-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.AppContainer {
  box-shadow: 0em 1em 1.5em -0.5em rgba(0, 0, 0, 0.1);
  background-image: url(/system/images/white-brushed.png);
  background-repeat: repeat;
  background-color: rgba(255, 255, 255, 0.5);

  backdrop-filter: blur(1em);
  border-radius: 0.25em;
  border: none;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  gap: 1em 0px;
  grid-template-areas: "App";
  transition: width 300ms ease-in-out;
}
.App {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 3em 1fr;
  gap: 0px 0px;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "Sidebar Toolbar"
    "Sidebar Contents";
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  animation-timing-function: ease-in-out;
}

.Sidebar {
  gap: 0.5em;
  width: fit-content;
  justify-self: start;
  grid-area: Sidebar;
  border-radius: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  button {
    width: 100%;
  }
}

.Toolbar {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1em);
  display: grid;
  gap: 0.5em;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: start;
  align-items: center;
  grid-template-areas: "AppIcon Tools Search Controls";
  grid-area: Toolbar;
  button {
    text-align: left;
    break-inside: avoid;
  }
}

.Controls {
  gap: 0.1em;
  justify-self: end;
  align-self: center;
  grid-area: Controls;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  button {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2em;
  }
}
.Controls :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Controls :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.Controls :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.Controls :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.AppMenuButton {
  grid-area: AppIcon;
}
.ScreenHeaderIcon {
  width: 8em;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
  line-height: 1em;
  border: none;
  border-radius: 0.25em;
  white-space: nowrap;
  font-size: 1em;
  color: #ffffff;
  background-size: cover;
}
.search {
  grid-area: Search;
}
.searchOpen {
  grid-area: Search;
}
input {
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: black;
  border-radius: 0.25em;
  border: none;
}

.Tools {
  grid-area: Tools;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1em;
  .ToolGroupH {
    button {
      width: unset;
    }
  }
  button {
    display: flex;
    flex-direction: left;
    justify-content: left;
    align-items: center;
    border-radius: unset;
  }
}
button:hover {
  cursor: pointer;
}
.ToolGroup {
  flex-direction: column;
  width: 100%;
  display: flex;
  gap: 0.1em;
}
.ToolGroup :first-child {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
}
.ToolGroup :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.ToolGroup :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0.25em;
}
.ToolGroup :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.ToolGroupH {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  gap: 0.1em;
}
.ToolGroupH :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.ToolGroupH :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.ToolGroupH :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.ToolGroupH :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.ToolGroupH {
  button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    color: white;
  }
}
.Contents {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr;
  gap: 0.5em;
  grid-auto-flow: row;
  grid-template-areas: "Body Preview";
  grid-area: Contents;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
}

.Preview {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.75);
  justify-self: end;
  align-self: stretch;
  border-radius: 1em;
  width: fit-content;
  padding: 0.5em;
  grid-area: Preview;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
}

#System {
  gap: 0.25em;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-items: flex-end;
  vertical-align: middle;
  height: 2.5em;
  border-radius: 0.25em;
  border-style: none;
  background-size: cover;
  transition: translate 250ms ease-in-out;
}
#AppList {
  justify-self: start;
  align-self: stretch;
  flex-grow: 1;
  gap: 0.25em;
  display: flex;
  width: 100%;
  grid-area: AppList;
  vertical-align: middle;
  flex-direction: row;
  flex-wrap: nowrap;
}
.DockAppIcon {
  display: flex;
  flex-direction: row;
  justify-self: stretch;
  align-items: center;
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  vertical-align: middle;
  height: 2.5em;
  border-radius: 0.25em;
  width: 2.5em;
  border-style: none;
  background-size: cover;
  transition: translate 250ms ease-in-out;
}
.DockIconGhost {
  display: inline-block;
  vertical-align: middle;
  background-image: unset !important;
  height: 2.5em;
  width: 2.5em;
  background-size: cover;
}
.DockSystemIcon {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  height: 2.5em;
  border-radius: 0.25em;
  width: 2.5em;
  background-size: cover;
  transition: translate 250ms ease-in-out;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(1em);
  border-radius: 0.25em;
  margin-top: 3em;
  margin-left: 0.5em;
  display: none;
  position: absolute;
  overflow: auto;
  z-index: 10;
  padding: 0.25em;
}
.show {
  display: block;
}
[data-tooltip] {
  position: relative;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  line-height: 1;
  font-size: 0.9em;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  display: none;
  opacity: 0;
}
[data-tooltip]:before {
  content: "";
  z-index: 100;
}
[data-tooltip]:after {
  content: attr(data-tooltip);
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  color: #000000;
  z-index: 99;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  display: block;
  opacity: 1;
}
[data-tooltip]:not([data-flow])::before,
[data-tooltip][data-flow="top"]::before {
  bottom: 100%;
}
[data-tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::after {
  bottom: calc(100% + 5px);
}
[data-tooltip]:not([data-flow])::before,
[tooltip]:not([data-flow])::after,
[data-tooltip][data-flow="top"]::before,
[data-tooltip][data-flow="top"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, -0.5em);
  transform: translate(-50%, -0.5em);
}
[data-tooltip][data-flow="bottom"]::before {
  top: 100%;
}
[data-tooltip][data-flow="bottom"]::after {
  top: calc(100% + 5px);
}
[data-tooltip][data-flow="bottom"]::before,
[data-tooltip][data-flow="bottom"]::after {
  left: 50%;
  -webkit-transform: translate(-50%, 0.75em);
  transform: translate(-50%, 0.75em);
}
[data-tooltip][data-flow="left"]::before {
  top: 50%;
  left: calc(0em - 5px);
  -webkit-transform: translate(-0.75em, -50%);
  transform: translate(-0.75em, -50%);
}
[data-tooltip][data-flow="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  -webkit-transform: translate(-0.75em, -50%);
  transform: translate(-0.75em, -50%);
}
[data-tooltip][data-flow="right"]::before {
  top: 50%;
  right: calc(0em - 5px);
  -webkit-transform: translate(0.75em, -50%);
  transform: translate(0.75em, -50%);
}
[data-tooltip][data-flow="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  -webkit-transform: translate(0.75em, -50%);
  transform: translate(0.75em, -50%);
}
[data-tooltip=""]::after,
[data-tooltip=""]::before {
  display: none !important;
}
