html {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@font-face {
  font-family: "Roboto";
  src: url("/system/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

.search {
  width: 100%;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  margin-top: unset;
  margin-bottom: unset;
  padding-bottom: 0.5em;
}

.DisplayFullscreen {
  -webkit-animation: fullscreen 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: fullscreen 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.DisplayNormal {
  -webkit-animation: DisplayNormal 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: DisplayNormal 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.DrawerOpen {
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 0.5em !important;
}

.DrawerOpen #Dock {
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
}

.DrawerClosed {
  height: 3em !important;
  padding: 0em !important;
}

#AllApps {
  padding-top: 0.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 0.25em;
  overflow-y: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Drawer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 0.25em;
  overflow: visible;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}

body {
  font-family: "Roboto";
  margin: 0px;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0.5em 0px;
      grid-template-areas: "Display";
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  text-align: left;
  padding: 1em 0.5em;
  line-height: 1em;
  border: none;
  height: 2em;
  border-radius: 0.25em;
  white-space: nowrap;
  -webkit-transition: all 300em linear;
  transition: all 300em linear;
  font-size: 1em;
  color: #ffffff;
}

button img {
  width: 1.1em;
  height: 1.1em;
  border-radius: 0.25em !important;
}

button:active {
  color: #ffffff !important;
}

#Display {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  padding: 0.5em;
  height: 100vh;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  transition: all 150ms ease-out;
  -ms-grid-rows: 1fr min-content;
      grid-template-rows: 1fr -webkit-min-content;
      grid-template-rows: 1fr min-content;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.5em;
      grid-template-areas: "Windows" "Dock";
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Display;
  background-size: cover;
}

.ghost {
  opacity: 0.1;
}

#Windows {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-rows: 1fr;
  gap: 0.5em 0.5em;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Windows;
}

#Dock {
  -webkit-transition: background-color ease-out 150ms;
  transition: background-color ease-out 150ms;
  overflow: visible;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0px 0px;
      grid-template-areas: "AppList System";
  -ms-grid-row-align: end;
      align-self: end;
  padding: 0.25em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Dock;
  border-radius: 0.25em;
  height: 3em;
}

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@-webkit-keyframes fullscreen {
  0% {
    grid-template-rows: 1fr -webkit-min-content;
    grid-template-rows: 1fr min-content;
    gap: 0.5em;
    padding: 0.5em;
  }
  100% {
    gap: 0em;
    padding: 0em;
    grid-template-rows: 100vh -webkit-min-content;
    grid-template-rows: 100vh min-content;
  }
}

@keyframes fullscreen {
  0% {
    -ms-grid-rows: 1fr min-content;
        grid-template-rows: 1fr -webkit-min-content;
        grid-template-rows: 1fr min-content;
    gap: 0.5em;
    padding: 0.5em;
  }
  100% {
    gap: 0em;
    padding: 0em;
    -ms-grid-rows: 100vh min-content;
        grid-template-rows: 100vh -webkit-min-content;
        grid-template-rows: 100vh min-content;
  }
}

@-webkit-keyframes Displaynormal {
  0% {
    gap: 0em;
    padding: 0em;
    grid-template-rows: 100vh -webkit-min-content;
    grid-template-rows: 100vh min-content;
  }
  100% {
    grid-template-rows: 1fr -webkit-min-content;
    grid-template-rows: 1fr min-content;
    gap: 0.5em;
    padding: 0.5em;
  }
}

@keyframes Displaynormal {
  0% {
    gap: 0em;
    padding: 0em;
    -ms-grid-rows: 100vh min-content;
        grid-template-rows: 100vh -webkit-min-content;
        grid-template-rows: 100vh min-content;
  }
  100% {
    -ms-grid-rows: 1fr min-content;
        grid-template-rows: 1fr -webkit-min-content;
        grid-template-rows: 1fr min-content;
    gap: 0.5em;
    padding: 0.5em;
  }
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation scale-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-bottom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
}
@keyframes scale-out-bottom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

.Body {
  justify-self: stretch;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Body;
  gap: 0.5em;
  width: 100%;
  border-radius: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.ListSection {
  gap: 0.5em;
  width: 100%;
  -ms-grid-column-align: start;
      justify-self: start;
  border-radius: 0.5em;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-item-align: initial;
      -ms-grid-row-align: initial;
      align-self: initial;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.ListSection .HList {
  gap: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.HListItem {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
}

.HListItem .ListItemIcon {
  height: 3em;
  width: 3em;
  border-radius: 0.25em;
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s both;
          animation: bounce-top 0.9s both;
}

.unMiniApp {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.openApp {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms both;
          animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms both;
}

.closeApp {
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.miniApp {
  -webkit-animation: scale-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.AppContainer {
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  border-radius: 0.25em;
  border: none;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  overflow: hidden;
  gap: 1em 0px;
      grid-template-areas: "App";
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.AppContainer body {
  background-color: none !important;
}

.App {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  -ms-grid-rows: 3em 1fr;
      grid-template-rows: 3em 1fr;
  gap: 0px 0px;
  width: 100%;
  height: 100%;
      grid-template-areas: "Sidebar Toolbar" "Sidebar Contents";
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.Sidebar {
  gap: 0.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-self: start;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: Sidebar;
  border-radius: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 0px;
}

.Sidebar button {
  width: 100%;
}

.Sidebar .ToolGroup {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.1em;
}

.Sidebar .ToolGroup :first-child {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
}

.Sidebar .ToolGroup :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Sidebar .ToolGroup :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0.25em;
}

.Sidebar .ToolGroup :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Sidebar .ToolGroupH {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0.1em;
}

.Sidebar .ToolGroupH :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Sidebar .ToolGroupH :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Sidebar .ToolGroupH :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Sidebar .ToolGroupH :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Toolbar {
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr min-content;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-flow: row;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "Tools Controls";
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Toolbar;
}

.Toolbar button {
  text-align: left;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.Controls {
  gap: 0.1em;
  justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Controls;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Controls button {
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2em;
}

.Controls :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Controls :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Controls :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Controls :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Tools {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Tools;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.Tools button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: left;
          flex-direction: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: unset;
}

.Toolbar .ToolGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 0.1em;
}

.Toolbar .ToolGroup :first-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Toolbar .ToolGroup :not(:first-child) {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}

.Toolbar .ToolGroup :last-child {
  border-top-left-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Toolbar .ToolGroup :only-child {
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.Contents {
  padding: 0.5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  gap: 0.5 0px;
  grid-auto-flow: row;
      grid-template-areas: "Body Preview";
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Contents;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
}

.Preview {
  background: rgba(255, 255, 255, 0.75);
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 1em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Preview;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(1em);
          backdrop-filter: blur(1em);
}

#System {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: System;
  vertical-align: middle;
}

#AppList {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: AppList;
  vertical-align: middle;
}

.DockAppIcon {
  display: inline-block;
  vertical-align: middle;
  height: 2.5em;
  border-radius: 0.25em;
  width: 2.5em;
  border-style: none;
  background-size: cover;
  -webkit-transition: translate 250ms ease-out;
  transition: translate 250ms ease-out;
}

.DockIconGhost {
  display: inline-block;
  vertical-align: middle;
  background-image: unset !important;
  height: 2.5em;
  width: 2.5em;
  background-size: cover;
}

.DockSystemIcon {
  display: inline-block;
  vertical-align: middle;
  border-style: none;
  height: 2.5em;
  border-radius: 0.25em;
  width: 2.5em;
  margin: 0.5em 0.25em;
  background-size: cover;
  -webkit-transition: translate 250ms ease-out;
  transition: translate 250ms ease-out;
}
/*# sourceMappingURL=stylesheet.css.map */