#MailboxApp {
	--PrimaryAppColor: #5C86AB;
	--ActiveAppColor: #345775;
	--HoverAppColor: #e5ebf2;
  
	.Preview {
		width: 100%;
	}
  
  
  // --- Dont edit past this point ---
	
  button {
	background: var(--PrimaryAppColor);
  }
  button:hover {
	color: var(--PrimaryAppColor);
	background-color: var(--HoverAppColor);
  }
  button:active {
	background-color: var(--ActiveAppColor);
  }
  }
  