<!doctype html>
<html lang='en-GB'>

<head>
	<meta charset='utf-8'>
	<title>Error</title>
	<link rel="stylesheet" href="/system/css/stylesheet.css">
	<link rel="stylesheet" href="/data/template/Apps/Error/appstyle.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
	<div class="App">
		<div class="Toolbar">
			<div class="Controls">
				<button type="button" onClick="CloseWindow('Error')">X</button>
			</div>
		</div>
		<div class="Contents" style="grid-template-areas: '';">
				<button style="background-size: cover; margin-bottom: 1em; background-image: url(/data/template/Apps/Error/AppIcon.svg);
		width: 5em;
		height:5em"> </button>
				<p>An error has occured.</p>
			</div>
		</div>

	</div>
	</div>
	</div>
</body>

</html>