<!doctype html>
<html lang='en-GB'>

<head>
	<meta charset='utf-8'>
	<title>Pitch</title>
	<link rel="stylesheet" href="/system/css/stylesheet.css">
	<link rel="stylesheet" href="/users/template/Apps/Pitch/appstyle.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


</head>

<body>
	<div class="App">
		<div class="Sidebar">
			<div class="ToolGroupH">
				<button type="button"><i class="ri-file-add-line"></i></button>
				<button type="button"><i class="ri-save-2-line"></i></button>
				<button type="button"><i class="ri-folder-open-line"></i></button>
			</div>
			<div class="ToolGroup">
				<button type="button"><i class="ri-file-text-line"></i>Slide 1</button>
				<button type="button"><i class="ri-file-text-line"></i>Slide 2</button>
			</div>
			<div class="ToolGroup">
				<button type="button"><i class="ri-add-line"></i>New Slide</button>
			</div>
		</div>
		<div class="Toolbar">
			<div class="Controls">
				<button type="button" onClick="MinimiseWindow('Pitch')"><i class="ri-subtract-fill"></i></button>
				<button type="button" onclick="FillWindow()"><i class="ri-fullscreen-fill"></i></button>
				<button type="button" onClick="CloseWindow('Pitch')"><i class="ri-close-fill"></i></button>
			</div>
			<button type="button" class="AppMenuButton" style="width: 2em; background-size: cover; background-image: url(/users/template/Apps/Pitch/AppIcon.svg)"></button>
			<div class="Tools">
				<div class="ToolGroup">
					<button type="button"><i class="ri-text"></i>Text</button>
					<button type="button"><i class="ri-shape-line"></i>Shape</button>
					<button type="button"><i class="ri-image-line"></i>Image</button>
					<button type="button"><i class="ri-table-2"></i>Table</button>
				</div>
				<div class="ToolGroup">
					<button type="button"><i class="ri-play-line"></i>Present</button>
					<button type="button"><i class="ri-printer-line"></i>Print</button>
					<button type="button"><i class="ri-send-plane-2-line"></i>Send</button>
				</div>
			</div>
			<button id="PitchSearch" onclick="ToggleSearch('Pitch')" type="button" class="search"><i class="ri-search-line"></i>Search</button>
		</div>
		<div class="Contents">
			<div class="Preview">
				<p>Edit</p>
			</div>
			<div class="Body">
				<p></p>
			</div>
		</div>
	</div>
	</div>
</body>

</html>