	  
	 <!doctype html>
	 <html lang='en-GB'>
	 <head>
	   <meta charset='utf-8'>
	   <title>Show</title>
	   <link rel="stylesheet" href="/system/css/stylesheet.css">
	   <link rel="stylesheet" href="/data/template/Apps/Show/appstyle.css">
	   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


	 </head>
	 <body>
		 <div class="App">
		  <div class="Sidebar">
		<button type="button"><img class="icon" src="/data/template/Apps/Show/icons/NowPlaying.svg"> Present</button>
		<div class="ToolGroup">
			<button type="button"><img class="icon" src="/data/template/Apps/Show/icons/Person.svg">Slide 1</button>
		</div>
	  </div>
	  <div class="Toolbar">
		<div class="Controls">
			<button type="button" onClick="MinimiseWindow('Show')"><img class="icon" src="/system/icons/Minus.svg"></button>
			<button type="button"><img class="icon" src="/system/icons/Plus.svg"></button>
			<button type="button" onClick="CloseWindow('Show')"><img class="icon" src="/system/icons/Close.svg"></button>
		</div>
		<div class="Tools">
			<div class="ToolGroup">
				<button style="width: 3em; background-size: cover; background-image: url(/data/template/Apps/Show/AppIcon.svg)"></button>
			</div>
			<div class="ToolGroup">
				<button type="button"><img class="icon" src="/data/template/Apps/Show/icons/Sort.svg">Sort</button>
				<button type="button"><img class="icon" src="/data/template/Apps/Show/icons/View.svg">View</button>
			</div>
			<div class="ToolGroup">
				<button type="button" class="search"><img class="icon" src="/data/template/Apps/Show/icons/Search.svg">Search</button>
			</div>
		</div>
	  </div>
	  <div class="Contents">
		<div class="Preview">
			<p>Preview Item</p>
		</div>
		<div class="Body">
			<p>BodyItem</p>
		</div>
	  </div>
	</div>
</div>
	 </body>
	 </html>