	  
	 <!doctype html>
	 <html lang='en-GB'>
	 <head>
	   <meta charset='utf-8'>
	   <title>Settings</title>
	   <link rel="stylesheet" href="/system/css/stylesheet.css">
	   <script src="/users/template/Apps/Files/appscript.js" defer></script>
	   <link rel="stylesheet" href="/users/template/Apps/Files/appstyle.css">
	   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	 </head>
	 <body>
		 <div class="App">
		  <div class="Sidebar">
			<div class="ToolGroup">
		<button type="button">Documents</button>
			<button type="button">Photos</button>
			<button type="button">Music</button>
			<button type="button">Videos</button>
			<button type="button">Downloads</button>
			</div>
			
	  </div>
	  <div class="Toolbar">
		<div class="Controls">
			<button type="button" onClick="MinimiseWindow('Files')"><i class="ri-subtract-fill"></i></button>
			<button type="button" onClick="FillWindow()"><i class="ri-fullscreen-fill"></i></button>
			<button type="button" onClick="CloseWindow('Files')"><i class="ri-close-fill"></i></button>
		</div>
		<button type="button" class="AppMenuButton" style="width: 2em; background-size: cover; background-image: url(/users/template/Apps/Files/AppIcon.svg)"><i class="ri-settings-5-fill"></i></button>
		<div class="Tools">
			<div class="ToolGroup">
				<button type="button" style="width: 2em;justify-content: center;"><i class="ri-arrow-left-s-line"></i></button>
					<button type="button" style="width: 2em; justify-content: center;"><i class="ri-arrow-right-s-line"></i></button>
			</div>
			<div class="ToolGroup">
				<button type="button"><i class="ri-sort-desc"></i>Sort<i class="ri-arrow-drop-down-line"></i></button>
				<button type="button"><i class="ri-list-check-2"></i>View<i class="ri-arrow-drop-down-line"></i></button>
			</div>
			
			<button type="button" class="search"><i class="ri-search-line"></i>Search</button>
		</div>
	  </div>
	  <div class="Contents">
			<div class="Body" id="FilesDir">
		</div>
	  </div>
	</div>
</div>
	 </body>
	 </html>