	  
	 <!doctype html>
	 <html lang='en-GB'>
	 <head>
	   <meta charset='utf-8'>
	   <title>Write</title>
	   <link rel="stylesheet" href="/system/css/stylesheet.css">
	   <link rel="stylesheet" href="/users/template/Apps/Write/appstyle.css">
	   <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


	 </head>
	 <body>
		 <div class="App">
		  <div class="Sidebar">
			<div class="ToolGroupH">
				<button type="button">N</button>
				<button type="button">S</button>
				<button type="button">O</button>
			</div>
		<div class="ToolGroup">
			<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/Person.svg">Page 1</button>
			<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/Person.svg">Page 2</button>
		</div>
		<div class="ToolGroup">
			<button type="button"><img class="icon" src="/system/icons/Plus.svg">New Page</button>

		</div>
	  </div>
	  <div class="Toolbar">
		<div class="Controls">
			<button type="button" onClick="MinimiseWindow('Write')"><img class="icon" src="/system/icons/Minus.svg"></button>
			<button type="button"><img class="icon" src="/system/icons/Plus.svg"></button>
			<button type="button" onClick="CloseWindow('Write')"><img class="icon" src="/system/icons/Close.svg"></button>
		</div>
		<div class="Tools">
			<div class="ToolGroup">
				<button style="width: 2em; background-size: cover; background-image: url(/users/template/Apps/Write/AppIcon.svg)"></button>
			</div>
			<div class="ToolGroup">
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/Sort.svg">Text</button>
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/View.svg">Shape</button>
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/View.svg">Image</button>
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/View.svg">Sound</button>
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/View.svg">Video</button>
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/View.svg">Table</button>
			</div>
			<div class="ToolGroup">
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/Sort.svg">Export</button>
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/View.svg">Send</button>
				<button type="button"><img class="icon" src="/users/template/Apps/Write/icons/View.svg">Print</button>
			</div>
		</div>
	  </div>
	  <div class="Contents">
		<div class="Preview">
			<p>Edit</p>
		</div>
		<div class="Body">
			<p>BodyItem</p>
		</div>
	  </div>
	</div>
</div>
	 </body>
	 </html>