#SettingsApp {
	--PrimaryAppColor: #5F5F5F;
  --AccentAppColor: #BDBDBD10;
	--ActiveAppColor: #000000;
	--HoverAppColor: #BDBDBD;

  .Contents {
    grid-template-areas: "Body" !important;
    grid-template-columns: 1fr;
  }
  
  
  // --- Dont edit past this point ---
  .Toolbar {
    background-color: var(--PrimaryAppColor);
  }
  .ListSection {
    background: var(--AccentAppColor);
    button {
      color: var(--PrimaryAppColor);
      background: none;
      }
      button:hover {
        background-color: var(--AccentAppColor);
        }
        button:active {
          background-color: var(--ActiveAppColor);
          }
      }
        
  h2 {
    color: (--PrimaryAppColor);
  }
	
  button {
	background: var(--PrimaryAppColor);
  }
  button:hover {
	color: var(--PrimaryAppColor);
	background-color: var(--HoverAppColor);
  }
  button:active {
	background-color: var(--ActiveAppColor);
  }
  }