<div class="ListSection">
	<h2>Personalise</h2>
	<div class="HList">
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Defaults</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Privacy</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Sounds</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Sync</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Theme</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Wallpaper</div>
		</button>
	</div>
</div>
<div class="ListSection">
	<h2>Accessories</h2>
	<div class="HList">
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Mouse</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Trackpad</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Keyboard</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Gamepad</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Printer</div>
		</button>
		</div>

</div>
<div class="ListSection">
	<h2>Hardware</h2>
	<div class="HList">
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Display</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Speakers</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Microphone</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Camera</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Network</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Bluetooth</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Storage</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Devices</div>
		</button>
	</div>
</div>
<div class="ListSection">
	<h2>System</h2>
	<div class="HList">
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">About</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Users</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Updates</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Security</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Backup</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Power</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Time</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Drivers</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Startup</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Logs</div>
		</button>
	</div>
</div>
<div class="ListSection">
	<h2>Apps</h2>
	<div class="HList">
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Cells/AppIcon.svg)"></div>
			<div class="ListItemLabel">Cells</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Files/AppIcon.svg)"></div>
			<div class="ListItemLabel">Files</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Mailbox/AppIcon.svg)"></div>
			<div class="ListItemLabel">Mailbox</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Music/AppIcon.svg)"></div>
			<div class="ListItemLabel">Music</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Settings/AppIcon.svg)"></div>
			<div class="ListItemLabel">Settings</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Show/AppIcon.svg)"></div>
			<div class="ListItemLabel">Show</div>
		</button>
		<button class="HListItem">
			<div class="ListItemIcon" style="background-size: cover; background-image: url(/users/template/Apps/Write/AppIcon.svg)"></div>
			<div class="ListItemLabel">Write</div>
		</button>
	</div>
</div>